{% extends "layout_bs4.html" %}
{% from "overview/institute_sidebar.html" import institute_actionbar %}

{% block title %}
  {{ super() }} - {{ institute.display_name }} - Advanced phenotype models
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block top_nav %}
  {{ super() }}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cases.index') }}">Institutes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.cases', institute_id=institute._id) }}">{{ institute.display_name }} cases </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('overview.advanced_phenotypes', institute_id=institute._id) }}">Advanced phenotype models </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="#">{{phenomodel.name}}</a>
  </li>
{% endblock %}

{% macro subpanels_macro() %}
{% for panel in subpanels %}
  {{panel}}
{% endfor %}
{% endmacro %}

{% macro phenomodel_macro() %}
<div class="card mt-3">
  <div style="padding: 0;" class="card-body mt-3 ml-3 mr-3">
    <form action="#" method="POST">
        <input type="hidden" name="model_id" value="{{phenomodel._id}}">
      <div class="form-row">
        <div class="col-4">
          {{ pheno_form.model_name(class="form-control", placeholder="Name") }}
        </div>
        <div class="col-7">
          {{ pheno_form.model_desc(class="form-control", placeholder="Description (optional)") }}
        </div>
        <div class="col-1">
          <button type="submit" value="save" name="update_model" class="btn btn-primary">save</button
        </div>
      </div>
      <h6 class="text-muted ml-3 mt-3">created: {{phenomodel.created.strftime('%Y-%m-%d')}} - updated: {{phenomodel.updated.strftime('%Y-%m-%d')}}</h6>
    </form>
  </div>
  <div class="col-4 mt-3 mb-3">
    <button class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#new_subpanel">Create a new HPO subpanel</button>
  </div>
</div>
</div>

<div class="collapse mt-3 mb-3" id="new_subpanel">
  <div class="card mt-3">
    <form action="#" id="new_subpanel_form" method="POST">
      <div class="form-row mt-3 ml-3 d-flex justify-content-between">
        <div class="form-group col-md-11">
          {{ subpanel_form.pheno_groups.label(class="control-label", data_toggle="tooltip", data_placement="top", title="All HPO terms children of this term will be displayed as checkboxes in the model sub-panel") }}<br>
          <select multiple="multiple" id="pheno_groups" name="pheno_groups" class="form-control mr-3" style="width:100%;">
            {% for choice in subpanel_form.pheno_groups.choices %}
              <option value="{{choice[0]}}" {% if choice[0].split(' ,')[0] in institute.phenotype_groups %} selected {% endif %}>{{choice[1]}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-row ml-3 mr-3 mt-3 mb-3">
        <div class="col-5">
          {{ subpanel_form.title.label }}:
          {{ subpanel_form.title(class="form-control") }}
        </div>
        <div class="col-5">
          {{ subpanel_form.subtitle.label }}:
          {{ subpanel_form.subtitle(class="form-control") }}
        </div>
        <div class="col-md-2 mt-3">
          {{ subpanel_form.add_subpanel( class="control-label btn btn-primary mt-3") }}
        </div>
      </div><!-- end of form-row -->
    </form>
  </div>
</div>
{{ subpanels_macro() }}
{% endmacro %}


{% block content_main %}
<div class="container-float">
  <div class="row" id="body-row"> <!--sidebar and main container are on the same row-->
    {{ institute_actionbar(institute) }} <!-- This is the sidebar -->
  <div class="col">
    {{ phenomodel_macro() }}
  </div>
</div><!-- end of body row div -->
</div><!-- end of container-float-->
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  var avail_terms = {{ default_phenotypes|safe }};

  $('#pheno_groups').select2({
    tags: true,
    data: [avail_terms],
    tokenSeparators: [','],
    placeholder: "HPO terms",
  });
</script>
{% endblock %}
